/* Cabinet Grotesk · Indian Type Foundry · ITF Free Font License (Fontshare), auto-hébergée */
@font-face{font-family:'Cabinet Grotesk';src:url(cabinet-400.woff2) format('woff2');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Cabinet Grotesk';src:url(cabinet-500.woff2) format('woff2');font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:'Cabinet Grotesk';src:url(cabinet-700.woff2) format('woff2');font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:'Cabinet Grotesk';src:url(cabinet-800.woff2) format('woff2');font-weight:800;font-style:normal;font-display:swap}
